In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.tree import DecisionTreeClassifier

In [4]:
df=pd.read_csv("C:/Users/pkitt/OneDrive/Desktop/TREE.csv")

In [5]:
df.head()

  company                job education  sal_more_than_50K
0     TCS  PROJECT EXECUTIVE    B.TECH                  0
1     TCS  PROJECT EXECUTIVE    M.TECH                  0
2     TCS    PROJECT MANAGER    B.TECH                  1
3     TCS    PROJECT MANAGER    M.TECH                  1
4     TCS         PROGRAMMER    B.TECH                  0

In [6]:
df.head

<bound method NDFrame.head of       company                job education  sal_more_than_50K
0         TCS  PROJECT EXECUTIVE    B.TECH                  0
1         TCS  PROJECT EXECUTIVE    M.TECH                  0
2         TCS    PROJECT MANAGER    B.TECH                  1
3         TCS    PROJECT MANAGER    M.TECH                  1
4         TCS         PROGRAMMER    B.TECH                  0
5         TCS         PROGRAMMER    M.TECH                  1
6     INFOSYS  PROJECT EXECUTIVE    M.TECH                  0
7     INFOSYS         PROGRAMMER    B.TECH                  0
8     INFOSYS    PROJECT MANAGER    B.TECH                  0
9     INFOSYS    PROJECT MANAGER    M.TECH                  1
10  MICROSOFT  PROJECT EXECUTIVE    B.TECH                  1
11  MICROSOFT  PROJECT EXECUTIVE    M.TECH                  1
12  MICROSOFT    PROJECT MANAGER    B.TECH                  1
13  MICROSOFT    PROJECT MANAGER    M.TECH                  1
14  MICROSOFT         PROGRAMMER    B.TECH                  1
15  MICROSOFT         PROGRAMMER    M.TECH                  1>

In [7]:
df_cat=df.select_dtypes(include=object)

In [8]:
df_cat.head()

  company                job education
0     TCS  PROJECT EXECUTIVE    B.TECH
1     TCS  PROJECT EXECUTIVE    M.TECH
2     TCS    PROJECT MANAGER    B.TECH
3     TCS    PROJECT MANAGER    M.TECH
4     TCS         PROGRAMMER    B.TECH

In [2]:
from sklearn.preprocessing import LableBinarizer

ImportError: cannot import name 'LableBinarizer' from 'sklearn.preprocessing' (C:\Users\pkitt\anaconda3\Lib\site-packages\sklearn\preprocessing\__init__.py)

In [10]:
bi=LabelBinarizer()

In [28]:
df_cat["company"] = bi.fit_transform(df_cat["company"])

In [32]:
bi=LabelBinarizer()

In [34]:
df_cat["job"] = bi.fit_transform(df_cat["job"])

In [36]:
bi=LabelBinarizer()

In [38]:
df_cat["education"] = bi.fit_transform(df_cat["education"])

In [40]:
df_cat.head()

   company  job  education
0        0    0          0
1        0    0          1
2        0    0          0
3        0    0          1
4        0    1          0

In [44]:
df_num = df.select_dtypes(include=np.number)

In [48]:
df_final=pd.concat([df_cat,df_num],axis=1)

In [50]:
df_final.head()

   company  job  education  sal_more_than_50K
0        0    0          0                  0
1        0    0          1                  0
2        0    0          0                  1
3        0    0          1                  1
4        0    1          0                  0

In [83]:
from sklearn.model_selection import train_test_split

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [121]:
X = df_final[["education","job","company"]]

In [123]:
y = df_final[["sal_more_than_50K"]]

In [125]:
matrix= df_final.corr()

In [127]:
matrix

                        company       job     education  sal_more_than_50K
company            1.000000e+00 -0.077850  2.403703e-17          -0.447214
job               -7.784989e-02  1.000000 -1.348400e-01          -0.034816
education          2.403703e-17 -0.134840  1.000000e+00           0.258199
sal_more_than_50K -4.472136e-01 -0.034816  2.581989e-01           1.000000

In [129]:
DTC=DecisionTreeClassifier()

In [131]:
fit=DTC.fit(X,y)

In [133]:
fit.score(X,y)

0.75